Deploy/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "ADPAdminUserName": {
            "type": "string",
            "defaultValue": "adpadmin",
            "metadata": {
                "description": "Admin user name to connect to all services during the workshop."
            }   
        },
        "ADPAdminPassword": {
            "type": "string",
            "defaultValue": "P@ssw0rd123!",
            "metadata": {
                "description": "Admin password used to connect to all services during the workshop."
            }   
        }
    },
    "variables": {
        "ADPAdminUserName":"adpadmin",
        "ADPAdminPassword":"P@ssw0rd123!",

        "DesktopVMSize":"Standard_A4_v2",
        "SynapseSQLDWSize":"DW200c",

        "UniqueSuffix":"[uniqueString(resourceGroup().id)]",

        "ADPVirtualNetworkName": "ADPVirtualNetwork",
        "ADPVirtualNetworkIPAddressPrefix": "10.10.0.0/16",
        "ADPVirtualSubnetName": "default",
        "ADPVirtualSubnetIPAddressPrefix": "10.10.0.0/24",
        
        "ADPDesktopName":"ADPDesktop",
        "ADPDesktopNICName":"[concat(variables('ADPDesktopName'),'-nic')]",
        "ADPDesktopOSDiskName":"[concat(variables('ADPDesktopName'),'_OsDisk')]",
        "ADPDesktopPublicIPName":"[concat(variables('ADPDesktopName'),'-publicip')]",
        
        "ADPDataLakeStorageName":"[concat('synapsedatalake', substring(variables('UniqueSuffix'),0,5))]",

		"ADPOperationalSQLEndpoint": "[concat('operationalsql-', substring(variables('UniqueSuffix'),0,5))]",

        "ADPSynapseSQLEndpoint": "[concat('synapsesql-', substring(variables('UniqueSuffix'),0,5))]",
        "ADPSynapseDWName":"SynapseDW",
        "ADPSynapseDWCollation": "SQL_Latin1_General_CP1_CI_AS",

        "ADPDataFactoryName": "[concat('SynapseDataFactory-',substring(variables('UniqueSuffix'),0,5))]",
        "ADPDataFactoryLocation": "[resourceGroup().location]",

        "ADPDatabricksWorkspaceName":"[concat('ADPDatabricks-',substring(variables('UniqueSuffix'),0,5))]",
        "ADPDatabricksResourceGroupName": "[concat('Databricks-', resourceGroup().name)]", 
        "ADPDatabricksResourceGroupID": "[concat(subscription().id, '/resourceGroups/', variables('ADPDatabricksResourceGroupName'))]",
        "ADPDatabricksTier":"standard",

        "ADPComputerVisionName":"ADPComputerVision",
        "ADPComputerVisionSKU": "S1",

        "ADPEventHubsName": "[concat('ADPEventHubs-', substring(variables('UniqueSuffix'),0,5))]",
        "ADPEventHubsSKU": "Standard",
        "ADPEventHubsThroughputUnits": 1,

        "ADPStreamAnalyticsName": "[concat('SynapseStreamAnalytics-',substring(variables('UniqueSuffix'),0,5))]",
        "ADPStreamAnalyticsSKU": "Standard",

        "ADPKeyVaultName": "[concat('ADPKeyVault-',substring(variables('UniqueSuffix'),0,5))]",

        "ADPLogicAppName": "ADPLogicApp",
        "ADPCosmosDBAccountName": "[concat('adpcosmosdb-', substring(variables('UniqueSuffix'),0,5))]",
		
		"ADPBastionName": "ADPBastionHost",
		"ADPBastionPublicIPName": "[concat(variables('ADPBastionName'),'-publicip')]",
		
		"ADPIntegrationAccountName": "ADPIntegrationAccount",
		
		"ADPEventHubConnectionName": "EventHubAPIConnection",
		"ADPEventHubAuthPolicyID": "[resourceId('Microsoft.Eventhub/namespaces/authorizationRules', variables('ADPEventHubsName'), 'RootManageSharedAccessKey')]",
		"ADPEventHubsAPIVersion": "[providers('Microsoft.Eventhub','namespaces').apiVersions[0]]"
    },
    "resources": [
        {
            "type": "Microsoft.Network/virtualNetworks",
            "name": "[variables('ADPVirtualNetworkName')]",
            "apiVersion": "2018-12-01",
            "location": "[resourceGroup().location]",
            "scale": null,
            "properties": {
                "provisioningState": "Succeeded",
                "addressSpace": {
                    "addressPrefixes": [
                        "[variables('ADPVirtualNetworkIPAddressPrefix')]"
                    ]
                },
                "subnets": [
                    {
                        "name": "default",
                        "properties": {
                            "provisioningState": "Succeeded",
                            "addressPrefix": "[variables('ADPVirtualSubnetIPAddressPrefix')]",
                            "delegations": []
                        }
                    },
					{
                        "name": "AzureBastionSubnet",
                        "properties": {
                            "addressPrefix": "10.10.100.0/24",
                            "serviceEndpoints": [],
                            "delegations": [],
                            "privateEndpointNetworkPolicies": "Enabled",
                            "privateLinkServiceNetworkPolicies": "Enabled"
                        }
                    }
                ],
                "virtualNetworkPeerings": [],
                "enableDdosProtection": false,
                "enableVmProtection": false
            },
            "dependsOn": []
        },
        {
            "type": "Microsoft.Network/virtualNetworks/subnets",
            "name": "[concat(variables('ADPVirtualNetworkName'), '/', variables('ADPVirtualSubnetName'))]",
            "apiVersion": "2019-09-01",
            "scale": null,
            "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "[variables('ADPVirtualSubnetIPAddressPrefix')]",
                "delegations": []
            },
            "dependsOn": [
                "[resourceId('Microsoft.Network/virtualNetworks', variables('ADPVirtualNetworkName'))]"
            ]
        },
        {
            "type": "Microsoft.Network/virtualNetworks/subnets",
            "apiVersion": "2019-09-01",
            "name": "[concat(variables('ADPVirtualNetworkName'), '/', '/AzureBastionSubnet')]",
            "dependsOn": [
                "[resourceId('Microsoft.Network/virtualNetworks', variables('ADPVirtualNetworkName'))]"
            ],
            "properties": {
                "addressPrefix": "10.10.100.0/24",
                "serviceEndpoints": [],
                "delegations": [],
                "privateEndpointNetworkPolicies": "Enabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
            }
        },
        {
            "type": "Microsoft.Network/publicIPAddresses",
            "sku": {
                "name": "Basic",
                "tier": "Regional"
            },
            "name": "[variables('ADPDesktopPublicIPName')]",
            "apiVersion": "2018-12-01",
            "location": "[resourceGroup().location]",
            "tags": {},
            "scale": null,
            "properties": {
                "provisioningState": "Succeeded",
                "publicIPAddressVersion": "IPv4",
                "publicIPAllocationMethod": "Dynamic",
                "idleTimeoutInMinutes": 4,
                "ipTags": []
            },
            "dependsOn": []
        },
		{
            "type": "Microsoft.Network/publicIPAddresses",
            "apiVersion": "2019-09-01",
            "name": "[variables('ADPBastionPublicIPName')]",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "Standard"
            },
            "properties": {
                "ipAddress": "20.188.223.148",
                "publicIPAddressVersion": "IPv4",
                "publicIPAllocationMethod": "Static",
                "idleTimeoutInMinutes": 4,
                "ipTags": []
            }
        },
        {
            "type": "Microsoft.Network/bastionHosts",
            "apiVersion": "2019-09-01",
            "name": "[variables('ADPBastionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "dnsName": "[concat('bst-',guid(subscription().subscriptionId),'.bastion.azure.com')]",
                "ipConfigurations": [
                    {
                        "name": "IpConf",
                        "properties": {
                            "privateIPAllocationMethod": "Dynamic",
                            "publicIPAddress": {
                                "id": "[resourceId('Microsoft.Network/publicIPAddresses',variables('ADPBastionPublicIPName'))]"
                            },
                            "subnet": {
                                "id": "[concat(resourceId('Microsoft.Network/virtualNetworks', variables('ADPVirtualNetworkName')), '/subnets/AzureBastionSubnet')]"
                            }
                        }
                    }
                ]
            },
			"dependsOn": [
				"[resourceId('Microsoft.Network/virtualNetworks', variables('ADPVirtualNetworkName'))]"
			]
        },
        {
            "type": "Microsoft.Compute/virtualMachines",
            "name": "[variables('ADPDesktopName')]",
            "apiVersion": "2018-10-01",
            "location": "[resourceGroup().location]",
            "tags": {},
            "scale": null,
            "properties": {
                "hardwareProfile": {
                    "vmSize": "[variables('DesktopVMSize')]"
                },
                "storageProfile": {
                    "imageReference": {
                        "publisher": "MicrosoftWindowsDesktop",
                        "offer": "Windows-10",
                        "sku": "rs5-pro",
                        "version": "latest"
                    },
                    "osDisk": {
                        "osType": "Windows",
                        "name": "[variables('ADPDesktopOSDiskName')]",
                        "createOption": "FromImage",
                        "caching": "ReadWrite",
                        "managedDisk": {
                            "storageAccountType": "StandardSSD_LRS"
                        },
                        "diskSizeGB": 127
                    },
                    "dataDisks": []
                },
                "osProfile": {
                    "computerName": "[variables('ADPDesktopName')]",
                    "adminUsername": "[parameters('ADPAdminUserName')]",
                    "adminPassword": "[parameters('ADPAdminPassword')]",
                    "windowsConfiguration": {
                        "provisionVMAgent": true,
                        "enableAutomaticUpdates": true
                    },
                    "secrets": [],
                    "allowExtensionOperations": true
                },
                "networkProfile": {
                    "networkInterfaces": [
                        {
                            "id": "[resourceId('Microsoft.Network/networkInterfaces', variables('ADPDesktopNICName'))]"
                        }
                    ]
                },
                "licenseType": "Windows_Client"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Network/networkInterfaces', variables('ADPDesktopNICName'))]"
            ]
        },
        {
            "type": "Microsoft.Network/networkInterfaces",
            "name": "[variables('ADPDesktopNICName')]",
            "apiVersion": "2018-12-01",
            "location": "[resourceGroup().location]",
            "tags": {},
            "scale": null,
            "properties": {
                "provisioningState": "Succeeded",
                "ipConfigurations": [
                    {
                        "name": "ipconfig1",
                        "properties": {
                            "provisioningState": "Succeeded",
                            "privateIPAllocationMethod": "Dynamic",
                            "publicIPAddress": {
                                "id": "[resourceId('Microsoft.Network/publicIPAddresses', variables('ADPDesktopPublicIPName'))]"
                            },
                            "subnet": {
                                "id": "[resourceId('Microsoft.Network/virtualNetworks/subnets', variables('ADPVirtualNetworkName'), variables('ADPVirtualSubnetName'))]"
                            },
                            "primary": true,
                            "privateIPAddressVersion": "IPv4"
                        }
                    }
                ],
                "dnsSettings": {
                    "dnsServers": [],
                    "appliedDnsServers": []
                },
                "enableAcceleratedNetworking": false,
                "enableIPForwarding": false,
                "primary": true,
                "tapConfigurations": []
            },
            "dependsOn": [
                "[resourceId('Microsoft.Network/publicIPAddresses', variables('ADPDesktopPublicIPName'))]",
                "[resourceId('Microsoft.Network/virtualNetworks/subnets', variables('ADPVirtualNetworkName'), variables('ADPVirtualSubnetName'))]"
            ]
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "name": "[variables('ADPDataLakeStorageName')]",
            "apiVersion": "2019-06-01",
            "location": "[resourceGroup().location]",
            "tags": {},
            "scale": null,
            "properties": {
                "isHnsEnabled": true,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "enabled": true
                        },
                        "blob": {
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            },
            "dependsOn": []
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(variables('ADPDataLakeStorageName'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('ADPDataLakeStorageName'))]"
            ],
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(variables('ADPDataLakeStorageName'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', variables('ADPDataLakeStorageName'))]"
            ],
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(variables('ADPDataLakeStorageName'), '/default/nycimagemetadata')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('ADPDataLakeStorageName'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('ADPDataLakeStorageName'))]"
            ],
            "properties": {
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(variables('ADPDataLakeStorageName'), '/default/nycimages')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('ADPDataLakeStorageName'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('ADPDataLakeStorageName'))]"
            ],
            "properties": {
                "publicAccess": "Blob"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(variables('ADPDataLakeStorageName'), '/default/nyctaxidata-curated')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('ADPDataLakeStorageName'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('ADPDataLakeStorageName'))]"
            ],
            "properties": {
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(variables('ADPDataLakeStorageName'), '/default/nyctaxidata-raw')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('ADPDataLakeStorageName'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('ADPDataLakeStorageName'))]"
            ],
            "properties": {
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(variables('ADPDataLakeStorageName'), '/default/nysestocktrade')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('ADPDataLakeStorageName'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('ADPDataLakeStorageName'))]"
            ],
            "properties": {
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(variables('ADPDataLakeStorageName'), '/default/polybase')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('ADPDataLakeStorageName'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', variables('ADPDataLakeStorageName'))]"
            ],
            "properties": {
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Sql/servers",
            "kind": "v12.0",
            "name": "[variables('ADPSynapseSQLEndpoint')]",
            "apiVersion": "2015-05-01-preview",
            "location": "[resourceGroup().location]",
            "scale": null,
            "properties": {
                "administratorLogin": "[parameters('ADPAdminUserName')]",
                "administratorLoginPassword": "[parameters('ADPAdminPassword')]",
                "version": "12.0"
            },
            "dependsOn": [],
			"resources":[
				{
					"type": "firewallrules",
					"name": "AllowAllAzureIps",
					"location": "[resourceGroup().location]",
					"apiVersion": "2015-05-01-preview",
					"dependsOn": [
						"[variables('ADPSynapseSQLEndpoint')]"
					],
					"properties": {
						"startIpAddress": "0.0.0.0",
						"endIpAddress": "0.0.0.0"
					}
				}
			]
        },
		{
            "type": "Microsoft.Sql/servers",
            "kind": "v12.0",
            "name": "[variables('ADPOperationalSQLEndpoint')]",
            "apiVersion": "2015-05-01-preview",
            "location": "[resourceGroup().location]",
            "scale": null,
            "properties": {
                "administratorLogin": "[parameters('ADPAdminUserName')]",
                "administratorLoginPassword": "[parameters('ADPAdminPassword')]",
                "version": "12.0"
            },
            "dependsOn": [],
			"resources":[
				{
					"type": "firewallrules",
					"name": "AllowAllAzureIps",
					"location": "[resourceGroup().location]",
					"apiVersion": "2015-05-01-preview",
					"dependsOn": [
						"[variables('ADPOperationalSQLEndpoint')]"
					],
					"properties": {
						"startIpAddress": "0.0.0.0",
						"endIpAddress": "0.0.0.0"
					}
				}
			]
        },
        {
            "type": "Microsoft.Sql/servers/databases",
            "sku": {
                "name": "[variables('SynapseSQLDWSize')]",
                "tier": "DataWarehouse"
            },
            "kind": "v12.0,user,datawarehouse,gen2",
            "name": "[concat(variables('ADPSynapseSQLEndpoint'), '/', variables('ADPSynapseDWName'))]",
            "apiVersion": "2017-03-01-preview",
            "location": "[resourceGroup().location]",
            "scale": null,
            "properties": {
                "collation": "[variables('ADPSynapseDWCollation')]",
                "maxSizeBytes": 263882790666240,
                "catalogCollation": "[variables('ADPSynapseDWCollation')]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Sql/servers', variables('ADPSynapseSQLEndpoint'))]"
            ]
        },
        {
            "type": "Microsoft.Sql/servers/firewallRules",
            "name": "[concat(variables('ADPSynapseSQLEndpoint'), '/AllowAllWindowsAzureIps')]",
            "apiVersion": "2015-05-01-preview",
            "scale": null,
            "properties": {
                "startIpAddress": "0.0.0.0",
                "endIpAddress": "0.0.0.0"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Sql/servers', variables('ADPSynapseSQLEndpoint'))]"
            ]
        },
		{
            "type": "Microsoft.Sql/servers/databases",
            "apiVersion": "2017-10-01-preview",
            "location": "[resourceGroup().location]",
            "tags": {},
            "name": "[concat(variables('ADPOperationalSQLEndpoint'), '/NYCDataSets')]",
			"kind": "v12.0,user",
            "properties": {
                "collation": "SQL_Latin1_General_CP1_CI_AS",
                "maxSizeBytes": 1073741824,
                "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
                "zoneRedundant": false,
                "readScale": "Disabled",
                "readReplicaCount": 0
            },
            "sku": {
                "name": "Standard",
                "tier": "Standard",
                "capacity": 20
            },
			"dependsOn": [
                "[resourceId('Microsoft.Sql/servers', variables('ADPOperationalSQLEndpoint'))]"
            ],
			"resources": [
				{
					"name": "Import",
					"type": "extensions",
					"apiVersion": "2014-04-01",
					"dependsOn": [
						"[resourceId('Microsoft.Sql/servers/databases', variables('ADPOperationalSQLEndpoint'), 'NYCDataSets')]"
					],
					"properties": {
						"storageKeyType": "SharedAccessKey",
						"storageKey": "?sv=2018-03-28&ss=b&srt=sco&sp=rwl&se=2050-12-30T17:25:52Z&st=2019-04-05T09:25:52Z&spr=https&sig=4qrD8NmhaSmRFu2gKja67ayohfIDEQH3LdVMa2Utykc%3D",
						"storageUri": "https://mdwresources.blob.core.windows.net/nycdatasets/NYCDataSets.bacpac",
						"administratorLogin": "[parameters('ADPAdminUserName')]",
						"administratorLoginPassword": "[parameters('ADPAdminPassword')]",
						"operationMode": "Import"
					}
				}
			]
        },
        {
            "apiVersion": "2018-06-01",
            "name": "[variables('ADPDataFactoryName')]",
            "location": "[variables('ADPDataFactoryLocation')]",
            "type": "Microsoft.DataFactory/factories",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {}
        },
        {
            "apiVersion": "2018-04-01",
            "location": "[resourceGroup().location]",
            "name": "[variables('ADPDatabricksWorkspaceName')]",
            "sku": {
                "name": "[variables('ADPDatabricksTier')]"
            },
            "comments": "Please do not use an existing resource group for ManagedResourceGroupId.",
            "properties": {
                "ManagedResourceGroupId": "[variables('ADPDatabricksResourceGroupID')]"
            },
            "type": "Microsoft.Databricks/workspaces"
        },
        {
            "type": "Microsoft.CognitiveServices/accounts",
            "sku": {
                "name": "[variables('ADPComputerVisionSKU')]"
            },
            "kind": "ComputerVision",
            "name": "[variables('ADPComputerVisionName')]",
            "apiVersion": "2016-02-01-preview",
            "location": "[resourceGroup().location]",
            "scale": null,
            "properties": {},
            "dependsOn": []
        },
        {
            "type": "Microsoft.EventHub/namespaces",
            "sku": {
                "name": "[variables('ADPEventHubsSKU')]",
                "tier": "[variables('ADPEventHubsSKU')]",
                "capacity": "[variables('ADPEventHubsThroughputUnits')]"
            },
            "name": "[variables('ADPEventHubsName')]",
            "apiVersion": "2017-04-01",
            "location": "[resourceGroup().location]",
            "tags": {},
            "scale": null,
            "properties": {
                "isAutoInflateEnabled": false,
                "maximumThroughputUnits": 0
            },
            "dependsOn": [],
			"resources": [
				{
					"type": "Microsoft.EventHub/namespaces/AuthorizationRules",
					"apiVersion": "2017-04-01",
					"name": "[concat(variables('ADPEventHubsName'), '/RootManageSharedAccessKey')]",
					"location": "[resourceGroup().location]",
					"dependsOn": [
						"[resourceId('Microsoft.EventHub/namespaces', variables('ADPEventHubsName'))]"
					],
					"properties": {
						"rights": [
							"Listen",
							"Manage",
							"Send"
						]
					}
				},
				{
					"type": "Microsoft.EventHub/namespaces/eventhubs",
					"apiVersion": "2017-04-01",
					"name": "[concat(variables('ADPEventHubsName'), '/nysestocktrade')]",
					"location": "Australia East",
					"dependsOn": [
						"[resourceId('Microsoft.EventHub/namespaces', variables('ADPEventHubsName'))]"
					],
					"properties": {
						"messageRetentionInDays": 1,
						"partitionCount": 1,
						"status": "Active"
					}
				}
			]
        },
        {
            "type": "Microsoft.StreamAnalytics/streamingjobs",
            "name": "[variables('ADPStreamAnalyticsName')]",
            "apiVersion": "2017-04-01-preview",
            "location": "[resourceGroup().location]",
            "scale": null,
            "properties": {
                "sku": {
                    "name": "[variables('ADPStreamAnalyticsSKU')]"
                },
                "eventsOutOfOrderPolicy": "Adjust",
                "outputErrorPolicy": "Stop",
                "eventsOutOfOrderMaxDelayInSeconds": 0,
                "eventsLateArrivalMaxDelayInSeconds": 5,
                "dataLocale": "en-US",
                "jobType": "Cloud",
                "inputs": [],
                "transformation": {
                    "name": "Transformation",
                    "properties": {
                        "query": "SELECT\r\n    *\r\nINTO\r\n    [YourOutputAlias]\r\nFROM\r\n    [YourInputAlias]",
                        "streamingUnits": 3
                    }
                },
                "compatibilityLevel": "1.1"
            },
            "dependsOn": []
        },
		{
            "type": "Microsoft.Logic/integrationAccounts",
            "apiVersion": "2016-06-01",
            "name": "[variables('ADPIntegrationAccountName')]",
            "location": "[resourceGroup().location]",
            "sku": {
                "name": "Basic"
            },
            "properties": {
                "state": "Enabled"
            }
        },
		{
			"type": "Microsoft.Logic/workflows",
			"apiVersion": "2017-07-01",
			"name": "[variables('ADPLogicAppName')]",
			"location": "[resourceGroup().location]",
			"properties": {
				"state": "Disabled",
				"integrationAccount": {
					"id": "[resourceId('Microsoft.Logic/integrationAccounts', variables('ADPIntegrationAccountName'))]"
				},
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"contentVersion": "1.0.0.0",
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						}
					},
					"triggers": {
						"Recurrence": {
							"recurrence": {
								"frequency": "Second",
								"interval": 1
							},
							"type": "Recurrence"
						}
					},
					"actions": {
						"Initialize_Config_Settings": {
							"runAfter": {},
							"type": "Compose",
							"inputs": {
								"numberOfMessages": 10,
								"priceRangeMax": 100,
								"priceRangeMin": 70,
								"quantityRangeMax": 300,
								"quantityRangeMin": 100,
								"stockTickers": [
									"MSFT",
									"AMZN",
									"GOOGL",
									"FB",
									"TWTR"
								]
							}
						},
						"Initialize_messageCount": {
							"runAfter": {
								"Parse_Config_Settings": [
									"Succeeded"
								]
							},
							"type": "InitializeVariable",
							"inputs": {
								"variables": [
									{
										"name": "messageCount",
										"type": "Integer",
										"value": 1
									}
								]
							}
						},
						"Parse_Config_Settings": {
							"runAfter": {
								"Initialize_Config_Settings": [
									"Succeeded"
								]
							},
							"type": "ParseJson",
							"inputs": {
								"content": "@outputs('Initialize_Config_Settings')",
								"schema": {
									"properties": {
										"numberOfMessages": {
											"type": "integer"
										},
										"priceRangeMax": {
											"type": "integer"
										},
										"priceRangeMin": {
											"type": "integer"
										},
										"quantityRangeMax": {
											"type": "integer"
										},
										"quantityRangeMin": {
											"type": "integer"
										},
										"stockTickers": {
											"items": {
												"type": "string"
											},
											"type": "array"
										}
									},
									"type": "object"
								}
							}
						},
						"Until_numberOfMessages_is_achieved": {
							"actions": {
								"Capture_Stock_Trade_Message": {
									"runAfter": {
										"Generate_Stock_Trade_Message": [
											"Succeeded"
										]
									},
									"type": "Compose",
									"inputs": "@outputs('Generate_Stock_Trade_Message')?['body']"
								},
								"Generate_Stock_Trade_Message": {
									"runAfter": {},
									"type": "JavaScriptCode",
									"inputs": {
										"code": "var configSettings = workflowContext.actions.Initialize_Config_Settings.outputs;\r\n\r\nstockTickerIndex = Math.round(Math.random()*100) % configSettings.stockTickers.length;\r\n\r\nvar stockTrade = {\r\n    StockTicker: configSettings.stockTickers[stockTickerIndex]\r\n    , Quantity: Math.round(configSettings.quantityRangeMin + (configSettings.quantityRangeMax - configSettings.quantityRangeMin)*Math.random())\r\n    , Price: configSettings.priceRangeMin + (configSettings.priceRangeMax - configSettings.priceRangeMin)*Math.random()\r\n    , TradeTimestamp: new Date().toJSON()\r\n};\r\n\r\nreturn stockTrade;"
									}
								},
								"Increment_messageCount": {
									"runAfter": {
										"Send_event_to_NYSEStockTradeSimm_Event_Hub": [
											"Succeeded"
										]
									},
									"type": "IncrementVariable",
									"inputs": {
										"name": "messageCount",
										"value": 1
									}
								},
								"Send_event_to_NYSEStockTradeSimm_Event_Hub": {
									"runAfter": {
										"Capture_Stock_Trade_Message": [
											"Succeeded"
										]
									},
									"type": "ApiConnection",
									"inputs": {
										"body": {
                                            "ContentData": "@{base64(outputs('Capture_Stock_Trade_Message'))}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['eventhubs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/@{encodeURIComponent('nysestocktrade')}/events"
									}
								}
							},
							"runAfter": {
								"Initialize_messageCount": [
									"Succeeded"
								]
							},
							"expression": "@greater(variables('messageCount'), rand(1, body('Parse_Config_Settings')?['numberOfMessages']))",
							"limit": {
								"count": 60,
								"timeout": "PT1H"
							},
							"type": "Until"
						}
					},
					"outputs": {}
				},
				"parameters": {
					"$connections": {
                        "value": {
                            "eventhubs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections',variables('ADPEventHubConnectionName'))]",
                                "connectionName": "[variables('ADPEventHubConnectionName')]",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/eventhubs')]"
                            }
                        }
                    }
				}
			},
			"dependsOn": [
				"[resourceId('Microsoft.Logic/integrationAccounts', variables('ADPIntegrationAccountName'))]",
				"[resourceId('Microsoft.Web/connections', variables('ADPEventHubConnectionName'))]"
			]
		},
		{
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ADPEventHubConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('ADPEventHubConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId ,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/eventhubs')]"
                },
				"parameterValues":{
					"connectionString": "[listkeys(variables('ADPEventHubAuthPolicyID'), '2017-04-01').primaryConnectionString]"
				}
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "kind": "GlobalDocumentDB",
            "name": "[variables('ADPCosmosDBAccountName')]",
            "apiVersion": "2015-04-08",
            "location": "[resourceGroup().location]",
            "tags": {
                "defaultExperience": "Core (SQL)"
            },
            "scale": null,
            "properties": {
                "ipRangeFilter": "",
                "enableAutomaticFailover": false,
                "enableMultipleWriteLocations": true,
                "isVirtualNetworkFilterEnabled": false,
                "virtualNetworkRules": [],
                "databaseAccountOfferType": "Standard",
                "consistencyPolicy": {
                    "defaultConsistencyLevel": "Session",
                    "maxIntervalInSeconds": 5,
                    "maxStalenessPrefix": 100
                },
                "locations": [
                    {
                        "locationName": "[resourceGroup().location]",
                        "provisioningState": "Succeeded",
                        "failoverPriority": 0
                    }
                ],
                "capabilities": []
            },
            "dependsOn": []
        }
    ]
}